/* Reset CSS */

@font-face {
  font-family: "New York Extra Large";
  src: url("../../../fonts/new-york-extra-large-cufonfonts/NewYorkExtraLargeMedium.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "New York Small";
  src: url("../../../fonts/new-york-small/FontsFree-Net-NewYorkSmallRegular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url("../../../fonts/sf-mono/SFMonoRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input,
textarea {
  border: none;
  outline: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "SF Pro Display", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  padding: 5.224rem 6.1rem 4rem 6.358rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 13.3rem;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.16);
  .logo-container {
    max-height: 3.753rem;
    img {
      max-height: 100%;
    }
  }
  nav {
    display: flex;
    align-items: end;
    ul {
      display: flex;
      flex-direction: row;
      max-height: 3.4rem;
      :first-child {
        li {
          a {
            ::after {
              width: 100%;
            }
          }
        }
      }
      li {
        font-family: New York Small;
        font-size: 2rem;
        font-weight: 500;
        line-height: 170%;
        letter-spacing: 0.2rem;
        text-align: center;
        text-transform: uppercase;
        a {
          text-decoration: none;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -4.54rem;
            left: 0;
            width: 0;
            height: 0.2rem;
            background-color: #000;
            transition: all 0.3s ease-in-out;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}

main {
  .slide {
    margin: auto;
    margin-top: 13.3rem;
    padding-top: 5.3rem;
    text-align: center;
    img {
      margin-top: 5.2rem;
      width: 100%;
      min-height: 90rem;
    }
    .title {
      margin: auto;

      font-family: "New York Extra Large";
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 85.8rem;
      height: 16.2rem;
      h2 {
        font-size: 5.4rem;
        line-height: 1;
        width: 94%;
        letter-spacing: 0.17rem;
      }
    }
    .text {
      margin: auto;
      margin-top: 3.2rem;
      width: 62.6rem;
      height: 6.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "SF Mono";
      span {
        font-size: 2rem;
        line-height: 1.7;
      }
    }
    .line {
      width: 64rem;
      height: 2px;
      background-color: #000;
      margin: auto;
      margin-top: 3.1rem;
    }
  }
  .article {
    margin: auto;
    padding-top: 2.5rem;
    font-family: New York Small;
    font-size: 2rem;
    line-height: 1.7;
    .top-body {
      margin: auto;
      width: 64rem;
      .user-info-container {
        display: flex;
        align-items: center;
        width: full;
        justify-content: space-between;
        .user-info {
          display: flex;
          height: 5.7rem;
          justify-content: space-between;
          align-items: center;
          gap: 1.6rem;
          .avt {
            width: 57px;
            height: 57px;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: rgb(0, 0, 0);
            font-family: SF Pro Display;
            font-size: 1.6rem;
            line-height: 1.9rem;
            text-align: left;
            width: 19.1rem;
            height: 4.6rem;
            p {
              letter-spacing: 0.1rem;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
        .user-link {
          width: 14rem;
          height: 4.4rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          border: 1px solid rgb(234, 234, 234);
          border-radius: 4px;
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
          background: rgb(255, 255, 255);
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
          }
          a:nth-child(2) {
            border-left: 1px solid rgb(234, 234, 234);
          }
          a:last-child {
            display: none;
          }
        }
      }
      .about {
        text-align: justify;
        margin-top: 5.2rem;
        width: full;
        height: 23.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        letter-spacing: -0.05rem;
      }
      .head {
        margin-top: 5.7rem;
        width: full;
        h2 {
          font-family: SF Pro Display;
          font-weight: 800;
          font-size: 3.2rem;
          line-height: 1.6;
        }
        div {
          margin-top: 2.4rem;
          height: 22.8rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          letter-spacing: -0.05rem;
        }
      }
    }
    .image {
      margin: auto;
      margin-top: 5.2rem;
      padding: 0 29.3rem;
      img {
        margin: auto;
      }
      p {
        margin: auto;
        margin-top: 1.2rem;
        width: 48.1rem;
        height: 4.4rem;
        color: rgb(0, 0, 0);
        font-family: SF Pro Display;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.4;
        text-align: center;
      }
    }
    .bottom-body {
      margin: auto;
      width: 64rem;
      letter-spacing: -0.05rem;
      div {
        margin-top: 5.2rem;
      }
      div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 27.2rem;
        p {
          /* text-align: justify; */
          margin-top: 2.4rem;
          width: full;
          height: 22.8rem;
        }
      }
      .list {
        ul {
          margin-top: 1.9rem;
          height: 16.8rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          li {
            display: flex;
            align-items: start;
            img {
              margin-top: 1.3rem;
              margin-right: 1.56rem;
            }
          }
        }
      }
      > p {
        margin-top: 5.2rem;
        width: 64rem;
        height: 6.8rem;
      }
    }

    .footer-article {
      margin: auto;
      margin-top: 7.7rem;
      width: 64rem;
      h5 {
        display: none;
      }
      .button {
        font-family: SF Pro Display;
        font-size: 1.6rem;
        font-weight: 500;
        border: 1px solid rgb(234, 234, 234);
        border-radius: 4px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        letter-spacing: 0.1rem;
        height: 6.4rem;
        a {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1.6rem;
        }
        a:nth-child(2) {
          border-left: 1px solid rgb(234, 234, 234);
        }
        a:last-child {
          display: none;
        }
      }
      .tag {
        margin-top: 3.2rem;
        line-height: 1.9;
        height: 1.9rem;
        letter-spacing: 0.05rem;
        display: block;
        font-family: SF Pro Display;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.12rem;
        width: 24rem;
      }
      .author {
        margin-top: 3.35rem;
        padding-top: 3.25rem;
        border-top: 1px dashed rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.4rem;
        img {
          width: 7.125rem;
          height: 7.125rem;
          border-radius: 50%;
        }
        p {
          width: 54.3rem;
          height: 7.8rem;
          font-family: SF Pro Display;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.6;
          letter-spacing: 0.05rem;
          span {
            font-family: SF Pro Display;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .news {
    margin-top: 13.1rem;
    border-top: 2px solid rgb(0, 0, 0);
    position: relative;
    > img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h2 {
      margin-top: 7.4rem;
      font-family: New York Extra Large;
      font-size: 4.4rem;
      line-height: 5.4rem;
      text-align: center;
    }
    .card {
      margin: auto;
      margin-top: 2.7rem;
      padding: 0 25.1rem 0 22.1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.4rem 2.8rem;
      .grid-item {
        /* margin: auto; */
        text-align: center;
        max-width: 30.4rem;
        img {
          margin: auto;
        }
        p {
          margin: auto;
          margin-top: 2rem;
          font-family: SF Pro Display;
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.2;
          width: 26.2rem;
        }
      }
      .grid-item:nth-child(5) {
        p {
          width: 28.2rem;
        }
      }
    }
  }

  .sign-up {
    margin: auto;
    margin-top: 11.4rem;
    width: 64rem;
    height: 32.3rem;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-top-width: 1rem;
    h2 {
      margin-top: 6.2rem;
      font-family: New York Extra Large;
      font-size: 3.6rem;
      line-height: 2.8rem;
      letter-spacing: 0.1rem;
      text-align: center;
    }
    span {
      margin: auto;
      display: block;
      margin-top: 1.8rem;
      color: rgb(9, 9, 9);
      font-family: SF Pro Display;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.8rem;
      letter-spacing: 0.12rem;
      text-align: center;
      width: 53.8rem;
      height: 5.6rem;
    }
    .input {
      height: 5.4rem;
      margin: auto;
      margin-top: 3.6rem;

      width: 52rem;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(0, 0, 0);
        height: inherit;
        input {
          height: 2.4rem;
          padding-left: 1.6rem;
          padding-right: 1.6rem;
          color: rgb(0, 0, 0);
          font-family: SF Pro Display;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2.4rem;
          letter-spacing: 0.1rem;
          text-align: left;
          width: calc(100% - 13.9rem);
        }
        input::placeholder {
          color: rgb(0, 0, 0);
        }
        button {
          height: inherit;
          background-color: #000;
          color: #fff;
          border: none;
          width: 13.9rem;
          color: rgb(255, 255, 255);
          font-family: SF Pro Display;
          font-size: 2rem;
          font-weight: 500;
          line-height: 2.4rem;
          letter-spacing: 0.18rem;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
}

footer {
  margin-top: 11.3rem;
  height: 46.4rem;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  padding-bottom: 3.2rem;
  .top-footer {
    padding-top: 1.8rem;
    text-transform: uppercase;
    margin-left: -0.5rem;
    margin-right: -0.8rem;
    white-space: nowrap;
    display: flex;
    span {
      color: rgb(255, 255, 255);
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: 0.305rem;
    }
    span:nth-child(2n + 1) {
      font-family: "SF Pro Display";
      font-weight: 800;
    }
    span:nth-child(2n) {
      font-family: SF Pro Display;
      font-weight: 400;
      line-height: 2.8rem;
    }
  }
  .bottom-footer {
    margin-top: 10.512rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    .about {
      margin-top: 2.558rem;
      font-family: New York Small;
      font-size: 1.6rem;
      line-height: 1.4;
      width: 48.8rem;
    }
    .link {
      margin-top: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: SF Pro Display;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.7;
      letter-spacing: 0.11rem;
      text-decoration-line: underline;
      width: 20.9rem;
      height: 2.7rem;
      a:nth-child(2n) {
        margin-left: 2.7rem;
        margin-right: 2.9rem;
      }
    }
    span {
      margin-top: 6.4rem;
      color: rgb(255, 255, 255);
      font-family: SF Pro Display;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.4;
      text-align: center;
      letter-spacing: 0.083rem;
    }
  }
}

/* Styles mặc định cho màn hình lớn (Desktop) */

@media (max-width: 1399.98px) {
  main {
    .slide {
      padding: 7.7rem;
      img {
        min-height: 0;
      }
    }
    .article {
      .image {
        padding: 0 10.3rem;
      }
    }
    .news {
      margin-top: 13.1rem;
      border-top: 2px solid rgb(0, 0, 0);
      position: relative;
      > img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      h2 {
        margin-top: 7.4rem;
        font-family: New York Extra Large;
        font-size: 4.4rem;
        line-height: 5.4rem;
        text-align: center;
      }
      .card {
        padding: 0 15.1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.4rem 2.8rem;
        .grid-item {
          max-width: 100%;
        }
        .grid-item:nth-child(5) {
          p {
            width: 28.2rem;
          }
        }
      }
    }
  }
}

/* Extra large (xl): <1200px */
@media (max-width: 1199.98px) {
  /* Styles cho extra large (xl) */
  header {
    padding: 2.4rem 2rem 2.1rem;
    height: 6.5rem;
    input[type="checkbox"]:checked ~ .overlay {
      visibility: visible;
      opacity: 1;
    }
    input[type="checkbox"]:checked ~ nav {
      transform: translateX(0);
      opacity: 1;
    }

    .logo-container {
      max-height: 2rem;
    }
    .hamburger {
      margin-top: 0.3rem;
      margin-bottom: 0.4rem;
      display: flex;
      width: 24px;
      height: 14px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      .hamburger-line {
        width: 100%;
        height: 1px;
        background-color: #000;
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgb(0 0 0 / 30%);
      visibility: hidden;
      opacity: 0;
      z-index: 0;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
    nav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 65%;
      background-color: #fff;
      display: block;
      padding: 2rem;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.16);
      transform: translate(100%);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: 99;
      ul {
        flex-direction: column;
        align-items: end;
        li {
          padding-bottom: 1rem;
          a {
            margin-left: 0 !important;
            &::after {
              bottom: 0;
            }
          }
        }
      }
    }
  }

  main {
    .slide {
      margin-top: 6.5rem;
    }
    .news {
      .card {
        padding: 0 5rem;
      }
    }
  }
}

/* Large (lg): <992px */
@media (max-width: 991.98px) {
  /* Styles cho large (lg) */
  main {
    .slide {
      padding: 2.7rem 2.7rem 0;
      .title {
        width: auto;
        height: auto;
        h2 {
          font-size: 3.4rem;
        }
      }
      .text {
        margin: auto;
        margin-top: 3.2rem;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "SF Mono";
        span {
          font-size: 2rem;
          line-height: 1.7;
        }
      }
      .line {
        width: 80%;
        height: 2px;
        background-color: #000;
        margin: auto;
        margin-top: 3.3rem;
      }
    }
  }
}

/* Medium (md): <768px */
@media (max-width: 767.98px) {
  main {
    .article {
      padding-top: 2.5rem;
      font-size: 1.6rem;
      .top-body {
        width: 100%;
        padding: 0 2rem;
        .user-info-container {
          flex-direction: column;
          .user-info {
            width: 100%;
            justify-content: start;
            .info {
              font-size: 1.3rem;
              line-height: 1.6rem;
              width: 15.5rem;
              height: inherit;
              padding: 0.6rem 0 1.3rem 0;
            }
          }
          .user-link {
            width: 33.5rem;
            height: 5.4rem;

            a:last-child {
              display: flex;
              border-left: 1px solid rgb(234, 234, 234);
            }
          }
        }
        .about {
          text-align: left;
          margin-top: 3.2rem;
          width: 100%;
          height: auto;
          font-size: 1.6rem;
          line-height: 1.7;
          p:last-child {
            display: none;
          }
        }
        .head {
          margin-top: 4.2rem;
          width: full;
          h2 {
            font-size: 2.6rem;
            line-height: 3.1rem;
          }
          div {
            margin-top: 1.9rem;
            font-size: 1.6rem;
            line-height: 1.7;
            height: auto;
            p:last-child {
              display: none;
            }
          }
        }
      }
      .image {
        margin-top: 4.2rem;
        padding: 0;
        img {
          margin: auto;
          width: 100%;
          height: auto;
        }
        p {
          padding: 1.2rem 2rem 0;
          margin-top: 0;
          width: auto;
          height: auto;
          font-size: 1.3rem;
        }
      }
      .bottom-body {
        margin: auto;
        width: auto;
        padding: 0 2rem;
        letter-spacing: -0.05rem;
        div {
          margin-top: 0;
        }
        div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: auto;
          p {
            /* text-align: justify; */
            margin-top: 4.2rem;
            width: full;
            height: auto;
            font-size: 1.6rem;
            line-height: 1.7;
          }
        }
        .list {
          display: none;
        }
        > p {
          display: none;
        }
      }

      .footer-article {
        margin-top: 4.2rem;
        width: 100%;
        padding: 0 2rem;
        h5 {
          display: block;
          color: rgb(12, 12, 12);
          font-family: SF Pro Display;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.7rem;
          letter-spacing: 0.1rem;
          text-align: left;
        }
        .button {
          justify-content: center;
          align-items: center;
          width: auto;
          height: 5.4rem;
          letter-spacing: 0.1rem;
          margin: auto;
          margin-top: 0.9rem;
          a {
            width: 33.3333333333%;
            display: flex;
            span {
              display: none;
            }
          }
          a:last-child {
            display: flex;
            border-left: 1px solid rgb(234, 234, 234);
          }
        }
        .tag {
          margin-top: 2.4rem;
          line-height: 1.7rem;
          height: 1.7rem;
          font-size: 1.4rem;
          width: auto;
        }
        .author {
          margin-top: 2.45rem;
          padding-top: 2.45rem;
          display: block;
          justify-content: space-between;
          align-items: center;
          gap: 2.4rem;
          img {
            float: left;
            margin-right: 1.6rem;
            margin-bottom: 1.375rem;
          }
          p {
            width: auto;
            height: auto;
            font-size: 1.4rem;
          }
        }
      }
    }
    .news {
      margin-top: 9rem;
      border-top: 2px solid rgb(0, 0, 0);
      padding: 0 2rem;

      h2 {
        margin-top: 6.3rem;
        font-family: New York Extra Large;
        font-size: 3.2rem;
        line-height: 3.8rem;
        text-align: center;
      }
      .card {
        margin-top: 2.9rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 4.2rem;
        padding: 0;
      }
    }

    .sign-up {
      border: 0;
      border-top: 1rem solid rgb(0, 0, 0);
      border-bottom: 0.2rem solid rgb(0, 0, 0);
      margin-top: 8.2rem;
      width: 100%;
      max-height: 31.5rem;
      h2 {
        margin-top: 4.2rem;
        font-size: 2.9rem;
        line-height: 1;
        padding: 0 6.5rem;
      }
      span {
        margin: auto;
        display: block;
        margin-top: 1.4rem;
        padding: 0 3.6rem 0 3.7rem;
        font-size: 1.6rem;
        line-height: 1.4;
        width: auto;
        height: auto;
      }
      .input {
        height: 5.4rem;
        margin-top: 3.3rem;
        width: auto;
        padding: 0 3.6rem;
        div {
          height: inherit;
          input {
            height: auto;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            font-size: 1.6rem;
            line-height: 1.9rem;
            width: calc(100% - 10.8rem);
          }
          input::placeholder {
            color: rgb(0, 0, 0);
          }
          button {
            width: 10.8rem;
            font-size: 1.6rem;
            line-height: 1.9rem;
          }
        }
      }
    }
  }
}

/* Small (sm): <576px */
@media (max-width: 575.98px) {
  /* Styles cho small (sm) */
  main {
    .slide {
      padding: 5.2rem 0 0 0;
      .title {
        padding: 0 2rem;

        h2 {
          width: 100%;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 4.3rem;
          letter-spacing: 0.1rem;
        }
      }
      .text {
        padding: 2.4rem 2rem 0;
        margin-top: 0;
        span {
          font-size: 1.6rem;
        }
      }
      img {
        margin-top: 3.6rem;
        width: 100%;
        height: 23.5rem;
      }
      .line {
        margin-top: 2.3rem;
        width: 33.5rem;
      }
    }
  }
  footer {
    margin-top: 5.2rem;
    .top-footer {
      padding-top: 2.2rem;
      display: flex;
      align-items: center;
      text-align: center;
      span {
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
        line-height: 2.8rem;
        letter-spacing: 0.305rem;
      }
      span:nth-child(2n + 1) {
        font-family: "SF Pro Display";
        font-weight: 800;
      }
      span:nth-child(2n) {
        font-family: SF Pro Display;
        font-weight: 400;
        line-height: 2.8rem;
      }
    }
    .bottom-footer {
      margin-top: 10.341rem;
      .logo-footer {
        width: 23.637rem;
        height: 2.218rem;
      }
      .about {
        margin-top: 2.541rem;
        font-size: 1.3rem;
        line-height: 1.4;
        width: 28.7rem;
        height: 7.1rem;
        overflow: hidden; /* Ẩn phần nội dung vượt ra ngoài */
        text-overflow: ellipsis; /* Thêm dấu "..." vào cuối dòng khi văn bản bị cắt */
      }
      .link {
        margin-top: 3.2rem;
        font-size: 1.3rem;
        width: 18.1rem;
        height: 2.2rem;
        a:nth-child(2n) {
          margin-right: 3rem;
        }
      }
    }
  }
}
