@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hidden {
  display: none !important;
}

.active {
  background: #4cc2ff;
  color: #000;
  border-radius: 50%;
  &:hover {
    background: #4bb0ef !important;
  }
}

.inactive {
  color: #7d7d7d;
}

html {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
}

h3 {
  font-weight: 600;
}

.calendar-container {
  width: clamp(320px, 400px, 430px);
  border: 1px solid #303030;
  border-radius: 12px;
  color: #fff;
  overflow: hidden;
  .header {
    padding: 18px 22px 18px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222222;
    color: #fff;
    h2 {
      font-size: 16px;
      font-weight: 400;
      &:hover {
        opacity: 0.7;
        cursor: default;
      }
    }
    .header-icon {
      height: 34px;
      width: 34px;
      border-radius: 4px;
      background: #373737;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: #404040;
      }
    }
  }
  .body {
    .calendar {
      margin: 0 auto;
      height: 100%;
      padding: 15px 10px 5px 10px;
      background: #2b292a;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      .top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        margin-bottom: 1.4rem;
        .head {
          display: flex;
          align-items: center;
          justify-content: start;
          padding-left: 1rem;
          padding-right: 2rem;
          width: 70%;
          height: 100%;
          cursor: pointer;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            background: #373737;
          }
        }
        nav {
          display: flex;
          gap: 10px;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            width: 45px;
            cursor: pointer;
            border-radius: 4px;
            &:hover {
              background: #373737;
            }
          }
          .prev-container {
            i {
              transform: scaleY(1.3) translateY(4px);
            }
          }
          .next-container {
            i {
              transform: scaleY(1.3) translateY(-4px);
            }
          }
        }
      }
      .contents {
        width: 100%;
        .dates li,
        .days li,
        .months li,
        .years li {
          cursor: default;
          aspect-ratio: 1; /* Ensure square cells */
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 2;
          border-radius: 50%;
        }

        .dates li.today {
          background: #4cc2ff;
          border-radius: 50%;
          color: #000;
          &:hover {
            background: #4bb0ef !important;
          }
        }

        .dates li.inactive,
        .months li.inactive,
        .years li.inactive {
          color: #7d7d7d;
        }

        .months,
        .years {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(4, 1fr);
          column-gap: 24px;
          row-gap: 8px;
          li {
            &:hover {
              background: #363636;
            }
          }
        }

        .days-container {
          .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            font-weight: 600;
            text-align: center;
          }
          .dates-wrapper {
            height: 283px;
            .dates {
              display: grid;
              grid-template-columns: repeat(7, 1fr);
              grid-template-rows: repeat(6, 1fr);
              column-gap: 8px;
              li {
                &:hover {
                  background: #363636;
                }
                &:active {
                  outline: 1px solid #4cc2ff;
                  color: #4cc2ff;
                  &:hover {
                    background: #4bb0ef !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 22px;
    background: #2b292a;
    border-top: 1px solid #000;
    font-size: 14px;
    i {
      font-size: 15px;
    }
    .set-time {
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        font-weight: 400;
      }
      .icon-minus,
      .icon-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        background: #373737;
        cursor: pointer;
        color: #bdc6cb;
      }
    }
    .start-focus,
    .end-session {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 0 18px;
      border-radius: 4px;
      background: #373737;
      cursor: pointer;
      color: #bdc6cb;
      gap: 5px;
    }
  }
}
